body {
    margin-left: 25%;
    margin-right: 25%;
    font-family: serif;
    font-size: 20px;
}

@media only screen and (max-width: 1700px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }

    .profile-img-right{
        display: none;
        padding-left: 0%;
    }

    .intro-text{
        padding-right: 0%;
    }

    #profile-img-top {
        display: block;
    }
}

@media only screen and (max-width: 480) {
    body {
        font-size: 14px;
    }

    h1{
        font-size: 24px;
    }
    
    h2{
        font-size: 18px;
    }
}

h1{
    padding: 0%;
    margin: 0%;
    font-weight: normal;
    font-size: 34px;
}

h2{
    padding: 0%;
    margin: 0%;
    font-weight: normal;
    font-size: 24px;
    font-style: italic;
}
a {
    text-decoration: underline dotted rgb(203, 153, 61) 2px;
    text-underline-offset: 3px;
    color: black;
}

a:hover
{
    text-decoration: none;
    color: rgb(203, 153, 61);
}

nav {
    padding-bottom: 2.5%;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 2%;
}

nav ul {
    padding: 0;
}

nav ul img{
    width: 100px;
}

.intro-text{
    width: 75%; 
    padding-right: 2.5%; 
    vertical-align: middle;
    text-align: left;
}

.profile-img-right{
    width: 25%;
    min-width: 250px;
    padding-left: 2.5%;
}

.profile-img-top{
    min-width: 250px;
    text-align: center;
    display: none;
}

.project-item{
    width: 50%;
    vertical-align: top;
    padding-bottom: 2%;
    padding-right: 2%;
}

.experience-ul{
    padding-top: 0%;
}

.experience-ul li{
    padding-bottom: 2.5%;
}

